<!DOCTYPE html>
<html lang="en" ng-app="xmlApp">
<head>
    <title>Xmart 1.2 alfa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/tree-control.css" rel="stylesheet" type="text/css"/>
    <link href="/css/tree-control-attribute.css" rel="stylesheet" type="text/css"/>
    <link href="/css/select.min.css" rel="stylesheet" type="text/css"/>

    <link href="/css/angular-openlayers-directive.css" rel="stylesheet" type="text/css"/>
    <link href="/css/MarkerCluster.css" rel="stylesheet" type="text/css"/>
    <link href="/css/MarkerCluster.Default.css" rel="stylesheet" type="text/css"/>
    <link href="/css/leaflet.css" rel="stylesheet" type="text/css"/>
    <link href="/css/rnd.css" rel="stylesheet" type="text/css"/>
    <link href="/css/leaflet.draw.css" rel="stylesheet" type="text/css"/>
    <link href="/css/leaflet.measurecontrol.css" rel="stylesheet" type="text/css"/>
    <link href="/css/leaflet-slider.css" rel="stylesheet" type="text/css"/>
    <link href="/css/L.Control.ZoomBox.css" rel="stylesheet" type="text/css"/>
    <link href="/css/L.Control.Window.css" rel="stylesheet" type="text/css"/>
    <link href="/css/angular-flash.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/ui-grid.min.css" rel="stylesheet"type="text/css"/>
    <link href='/css/leaflet.fullscreen.css' rel='stylesheet'/>

    <link rel="stylesheet" href="/css/angular-material.min.css">
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/css/material_icons.css" rel="stylesheet">
    <script src="/js/angular.min.js"></script>
    <script type='text/javascript' src='/js/jquery.js'></script>
    <script type='text/javascript' src='/js/angular-route.min.js'></script>
    <script type='text/javascript' src='/js/angular-cookies.js'></script>
    <script type='text/javascript' src='/js/ng-upload.min.js'></script>
    <script type='text/javascript' src='/js/angular-tree-control.js'></script>
    <script type='text/javascript' src='/js/select.min.js'></script>
    <script type='text/javascript' src='/js/highcharts-ng.min.js'></script>
    <script type='text/javascript' src='/js/ui-bootstrap-tpls-0.14.1.min.js'></script>
    <script type='text/javascript' src='/js/ng-context-menu.js'></script>
    <script type='text/javascript' src='/js/smart-table.min.js'></script>
    <script type='text/javascript' src='/js/angular-flash.min.js'></script>
    <script type='text/javascript' src='/app/js/app.js'></script>
    <script type='text/javascript' src='/app/js/controllers.js'></script>
    <script type='text/javascript' src='/app/js/project.js'></script>
    <script type='text/javascript' src='/app/js/active_file.js'></script>
    <script type='text/javascript' src='/app/js/upload_file.js'></script>
    <script type='text/javascript' src='/app/js/controllers/file.js'></script>
    <script type='text/javascript' src='/app/js/controllers/audit.js'></script>
    <script type='text/javascript' src='/app/js/controllers/treeview.js'></script>
    <script type='text/javascript' src='/app/js/controllers/query.js'></script>
    <script type='text/javascript' src='/app/js/controllers/table.js'></script>
    <script type='text/javascript' src='/app/js/controllers/parameters.js'></script>
    <script type='text/javascript' src='/app/js/controllers/dashboard.js'></script>
    <script type='text/javascript' src='/app/js/controllers/measurements.js'></script>
    <script type='text/javascript' src='/app/js/controllers/distance.js'></script>
    <script type='text/javascript' src='/app/js/controllers/rnd.js'></script>
    <script type='text/javascript' src='/js/angular-leaflet-directive.min.js'></script>
    <script type='text/javascript' src='/js/leaflet.js'></script>
    <script type='text/javascript' src='/js/leaflet.draw.js'></script>
    <script type='text/javascript' src='/js/leaflet.measurecontrol.js'></script>
    <script type='text/javascript' src='/js/Marker.Rotate.js'></script>
    <script type='text/javascript' src='/js/leaflet.markercluster.js'></script>
    <script type='text/javascript' src='/js/Google.js'></script>
    <script type='text/javascript' src='/js/Semicircle.js'></script>
    <script type='text/javascript' src='/js/angular-pageslide-directive.min.js'></script>
    <script type='text/javascript' src='/js/angular-sanitize.min.js'></script>
    <script type='text/javascript' src='/js/toolbar.js'></script>
    <script type='text/javascript' src='/js/drive_test.js'></script>
    <script type='text/javascript' src='/js/leaflet-slider.js'></script>
    <script type='text/javascript' src='/js/spin.min.js'></script>
    <script type='text/javascript' src='/js/angular-spinner.min.js'></script>
    <script type='text/javascript' src='/js/L.Control.Window.js'></script>
    <script src="/js/L.Control.ZoomBox.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/exporting.js"></script>
    <script src="/js/randomColor.js"></script>
    <script src='/js/Leaflet.fullscreen.min.js'></script>
    <script src='/js/ui-grid.min.js'></script>
    <script src="/js/csv.js"></script>
    <script src="/js/pdfmake.js"></script>
    <script src="/js/vfs_fonts.js"></script>


    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/angular-aria.min.js"></script>
    <script src="/js/angular-messages.min.js"></script>


    <script src="js/angular-material.min.js"></script>
</head>
<body>
<md-toolbar class="md-menu-toolbar" ng-controller="mainMenuCtrl">
    <div layout="row">
        <md-toolbar-filler layout layout-align="center center" class="has_icon" id="custom_filler">
            <img src="/static/XMART.png" style="height:30px">
        </md-toolbar-filler>
        <div>
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Projects
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/add_project', $event)">
                                Create Project
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/projects', $event)">
                                Projects
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/files_hub', $event)">
                                Files Hub
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Map & Cells
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/map', $event)">
                                Map
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/create_group_of_cells', $event)">
                                Create group of cells
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/groups', $event)">
                                Group of cells
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/table/rnd/rnd', $event)">
                                Radio Network Data
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <a href="/data/rnd/get3g3gscript">3G3G Script</a>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Parameters
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/register_version_release', $event)">
                                Register Version Release
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/create_predefined_template', $event)">
                                Create Predefined Template
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/predefined_templates', $event)">
                                Predefined Templates
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/run_template', $event)">
                                Run a Template
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Tables & Graphs
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/explore/tables', $event)">
                                Explore
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/by_technology', $event)">
                                By Technology
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/dashboard_wcdma', $event)">
                                Dashboard WCDMA
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/parameters_overview', $event)">
                                Parameters Overview
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Measurements
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu()">Ericsson</md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click="onMenuClick('/access_distance', $event)">Access Distance
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="onMenuClick('/measurements/wncs', $event)">WNCS
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="onMenuClick('/measurements/wmrr', $event)">WMRR
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="onMenuClick('/measurements/ncs', $event)">NCS
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="onMenuClick('/measurements/mrr', $event)">MRR
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('', $event)">
                                Nokia
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('', $event)">
                                Huawei
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Licenses & Hardware
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/licenses', $event)">
                                Check Licenses
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/hardwares', $event)">
                                Check Hardware
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Compare
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/compare_files', $event)">
                                Compare Files
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/compare_templates', $event)">
                                Compare Templates
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/compare_queries', $event)">
                                Compare Queries
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/compare_neighbors', $event)">
                                Compare Neighbors
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Optimization
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu()">Ericsson</md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click="onMenuClick('/run_audit', $event)">Run Network Audit
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="onMenuClick('/power_audit', $event)">WCDMA Power Audit
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="onMenuClick('/psc_distance', $event)">PSC Distance Re-Use REPORT
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="onMenuClick('/same_neighbor', $event)">SAME SECTOR NEIGHBOR
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('', $event)">
                                Nokia
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('', $event)">
                                Huawei
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Help & Settings
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/help', $event)">
                                Help
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/set_logical_sector', $event)">
                                Settings
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/set_automatic_site_query', $event)">
                                Set Automatic Site Query
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/set_cna_template', $event)">
                                Set Cna Template
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/set_audit_template', $event)">
                                Set Audit Template
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/set_drive_test_legend', $event)">
                                Set Drive Test Legend
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/about', $event)">
                                About
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        <i class="material-icons md-36">account_box</i>
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <h5>{{ username }}</h5>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/change_pass', $event)">
                                Change Password
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="onMenuClick('/logout', $event)">
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
    </div>
</md-toolbar>

<flash-message duration="5000" show-close="true"></flash-message>
<div class="row">
    <div class="col-md-2 sidebar" ng-controller="menuCtrl" ng-mouseenter="onShowMenu()">
        <div pageslide ps-open="checked" ps-side="left" ng-mouseleave="onShowMenu()" ps-custom-top="60px">
            <div style="padding:20px">
                <h4>{{ project_name }}</h4>
                <div treecontrol class="tree-classic"
                     tree-model="treedata"
                     options="treeOptions"
                     on-selection="showSelected(node)"
                     selected-node="selected_node">
                    <input type="checkbox"
                           ng-show="node.show_check"
                           ng-click="onFileClick(node.label)"
                           ng-model="files[node.label]">
                    <span context-menu data-target="menu-{{node.menu}}">{{node.label}}</span>


                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 main" ng-view>
    </div>
</div>

</body>
</html>
