<div class="row">
    <form class="form-horizontal col-sm-6" ng-upload="complete(content)" role="form" method="GET" action="/data/compare_files/">
        <div class="form-group">
            <label class="control-label col-sm-3">Network</label>
            <div class="col-sm-9">
                <select class="form-control" name="network" ng-model="network" ng_change="onChangeNetwork()">
                    <option value="GSM" selected>GSM</option>
                    <option value="WCDMA">WCDMA</option>
                    <option value="LTE">LTE</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Main File</label>
            <div class="col-sm-9">
                <select class="form-control" name="main_file" ng-model="main_file" ng-options="file for file in files track by file" ng-change="onChangeMainFile()">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Files</label>
            <div class="col-sm-9">
                <div ng-repeat="file in files_for_compare" class="checkbox">
                    <label>
                    <input name="files" type="checkbox" value="{{ file }}">
                        {{ file }}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Tables & Templates</label>
            <div class="col-sm-9">
                <select class="form-control" name="table" ng-model="table" ng-options="t.table group by t.type for t in tables track by t.table" multiple>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Cells:</label>
            <div class="col-sm-9">
                <select class="form-control" name="cells" ng-model="selected_cells" ng-options="cell.cell group by cell.type for cell in cells track by cell.cell" multiple>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <button class="btn btn-success" type="submit">Run</button>
            </div>
        </div>
    </form>
</div>
<div ng-hide="hide_files" class="row">
    <table class="table">
        <thead>
            <tr>
                <td>Table</td>
                <td>Count</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="table in compare_files">
                <td>{{ table.table }}</td>
                <td>{{ table.count }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-hide="hide_tables" class="row">
    <table class="table">
        <thead>
            <tr>
                <td ng-repeat="col in compare_table.columns">{{ col }}</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in compare_table.data track by $index">
                <td ng-repeat="col in row track by $index">
                    {{ col.1 }}
                </td>
            </tr>
        </tbody>
    </table>
</div>