<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Filename</td>
                <td>Table</td>
                <td>Summary</td>
                <td>Network</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="file in files">
                <td>{{ file.filename }}</td>
                <td><a href="#/table/{{ file.filename }}/hardware/">Table</a></td>
                <td><a href="#/table/{{ file.filename }}/hw_summary/">Summary</a></td>
                <td>{{ file.network }}</td>
            </tr>
        </tbody>
    </table>
</div>