.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-style: solid;
    border-radius: 5px;
    max-height: 250px;
    overflow-y: auto;
}
.info h5 {
    margin: 0 0 5px;
    color: #777;
}

.sector {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-height: 250px;
    overflow-y: auto;
}
.sector h5 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    width: auto;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: rgba(255,255,255, 0.9);
    line-height: 18px;
    border-radius: 5px;
    color: #555;
    max-height: 250px;
    max-width: 300px;
    overflow-y: auto;
}

.span-legend:hover {
    cursor: pointer;
}


.color-legend {
    width: 18px;
    height: 18px;
}

.toolbar {
    width: 570px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-height: 250px;
    overflow-y: auto;
}

.leaflet-map {
    position: fixed;
    top:55px;
    left:10px;
    height: 90%;
    width:99%;

}


.RndGrid {
    height: 600px;
}

