<div class="col-md-12 panel" ng-show="show_menu">
        <form class="form">
            <div class="form-group">
                <div class="col-md-3" id="param">
                    <ui-select ng-change="onChangeParam($select.selected)" ng-model="rnd_param.selected" theme="bootstrap"
                        ng-disabled="disabled"
                        reset-search-input="false">
                        <ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="col in columns | filter:$select.search">
                            {{col}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-3">
                    <ui-select ng-model="rnd_value.selected" on-select="onSelectValue($item, $model)" theme="bootstrap"
                        ng-disabled="disabled"
                        reset-search-input="false">
                        <ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="val in values | filter:$select.search">
                            {{ val }}
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-warning" ng-click="onResetFilter()"> Reset Filters</button>
                </div>
                <div class="col-md-12"></div>
            </div>
        </form>
</div>
<div class="col-md-12">
    <table class="table">
        <tr ng-repeat="filter in map_filters">
            <td class="col-md-3">{{ filter.param }}</td>
            <td class="col-md-3">{{ filter.action }}</td>
            <td class="col-md-3">{{ filter.value }}</td>
            <td class="col-md-3"  style="background-color:{{ filter.color }}"></td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="btn-group col-md-12" role="group">
        <button
            type="button"
            class="btn btn-default col-md-2"
            ng-model="show_neighbors"
            ng-click="onNeighbors()"
            btn-checkbox>Show 3g-3g Neighbors</button>
        <button type="button" class="btn btn-danger col-md-2" ng-click="onFlush()">Flush new Neighbors</button>
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <label>Sector size:</label>
            <input class="btn" type="range" name="points" min="{{ range_min }}" max="{{ range_max }}" ng-model="range_sector_size" ng-change="onSizeSector(range_sector_size)" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }">
        </div>
        <button type="button" class="btn btn-default col-md-1" ng-model="show_menu" btn-checkbox>
            <span class="glyphicon glyphicon-filter" aria-hidden="true" ></span>
            Filter
        </button>
    </div>

    <div class="col-md-12 panel">
        <leaflet controls="controls" width="100%" height="600px"></leaflet>
    </div>
</div>

