<div class="col-md-12">
    <h3></h3>
</div>

<div class="col-md-12">
    <div class="col-md-3">
        <a href="" ng-click="show_download_panel=!show_download_panel">Upload RND Excel file</a>
    </div>
    <div class="col-md-3">
        <a href="">Download RND Excel file</a>
    </div>
</div>

<div class="col-md-12" ng-show="show_download_panel">
    <div class="panel panel-default">
        <div class="panel-body">
            <form
                ng-upload="complete()"
                class="form-horizontal col-sm-12"
                role="form"
                action="/data/rnd/"
                upload-options-enable-rails-csrf>

                <div class="form-group">
                    <label for="file" class="col-md-3 control-label">Upload RND files</label>
                    <div class="col-md-6">
                        <input type="file" id="file" name="uploaded_file">
                        <input type="hidden" name="network" value="{{rnd_network}}">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" ng-disabled="$isLoading" class="btn btn-success">Upload</button>
                        <button class="btn btn-default" type="reset">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<table st-table="data" class="table table-striped col-md-12">
    <thead>
    <tr>
        <th ng-repeat="col in columns">{{ col }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in data">
        <td ng-repeat="col in columns"><a href="#/map/{{ rnd_network }}/?{{ col }}={{row[col]}}">{{row[col]}}</td>
    </tr>
    </tbody>
</table>





