<div class="col-md-12">
    <h3>Radio Network Design ({{ rnd_network }})</h3>
</div>

<div class="col-md-12">
    <table
        st-safe-src="rowCollection"
        st-table="displayCollection"
        st-set-filter="myStrictFilter"
        class="table table-striped">
        <thead>
            <tr>
                <th st-sort="rnc">RNC</th>
                <th st-sort="site">Site</th>
                <th st-sort="site">Sector</th>
                <th st-sort="site">Sector</th>
                <th st-sort="site">LAC</th>
                <th st-sort="site">RAC</th>
                <th st-sort="site">SC</th>
                <th st-sort="site">Carrier Name</th>
                <th st-sort="site">Datum</th>
                <th st-sort="site">Latitud</th>
                <th st-sort="site">Longitud</th>
                <th st-sort="site">High</th>
                <th st-sort="site">Azimuth</th>
                <th st-sort="site">Antenna</th>
                <th st-sort="site">Mechanical_Tilt</th>
                <th st-sort="site">Electrical_Tilt</th>

            </tr>
            <tr>
                <th>
                    <input st-search="firstName" placeholder="search for RNC" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="lastName" placeholder="search for Site" class="input-sm form-control" type="search"/>
                </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in displayCollection">
            <td>{{row.firstName | uppercase}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.strictSearchValue}}</td>
            <td>{{row.strictSelectValue}}</td>
        </tr>
    </tbody>
</table>


</div>