<form ng-upload="complete(content)" class="form-horizontal col-sm-6" role="form" action="/data/files/set_drive_test_legend/" upload-options-enable-rails-csrf>
    <div class="form-group">
        <label for="file" class="col-sm-3 control-label">File</label>
        <div class="col-sm-9">
            <input type="file" id="file" name="uploaded_file">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <button type="submit" ng-disabled="$isLoading" class="btn btn-success">Upload</button>
            <button class="btn btn-default" type="reset">Cancel</button>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Min Value</td>
            <td>Max Value</td>
            <td>Color</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="l in legend">
            <td>{{ l[0] }}</td>
            <td>{{ l[1] }}</td>
            <td>{{ l[2] }}</td>
            <td style="background-color:{{ l[3] }} ">{{ l[3] }}</td>
        </tr>
    </tbody>
</table>

