<form class="form">
    <div class="form-group">
        <label>Radius WCDMA:</label>
        <input type="text" name='radiusw' ng-value="radius_wcdma">
    </div>
    <div class="form-group">
        <label>Radius LTE:</label>
        <input type="text" name='radiusw' ng-value="radius_lte">
    </div>
    <div class="form-group">
        <label>Radius GSM:</label>
        <input type="text" name='radiusw' ng-value="radius_gsm">
    </div>
    <button class="btn btn-default" ng-click="onSaveMapSettings()">Save</button>
</form>