<div class="row">
    <form ng-upload="complete(content)" class="form-horizontal col-sm-10" role="form" action="/data/upload_template/">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="upload">Upload Excel</label>
            <div class="col-sm-4">
                <input type="file" name="excel">
            </div>
            <div class="col-sm-5">
                <button class="btn btn-success" type="submit">Upload</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <form ng-upload="complete(content)" class="form-horizontal col-sm-10" role="form" action="/data/add_template/">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="network">Network:</label>
            <div class="col-sm-9">
                <select ng-change="onChangeNetwork()" ng-model="network"  name="network" id="network" class="form-control">
                    <option value="2g">2G</option>
                    <option value="3g">3G</option>
                    <option value="4g">4G</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="template_name">Template Name:</label>
            <div class="col-sm-9">
                <input ng-model="template_name" type="text" class="form-control" id="template_name" placeholder="Template Name" name="template_name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="mo">MO:</label>
            <div class="col-sm-9">
                <select ng-change="onChangeMO()" ng-model="mo" class="form-control" ng-options="table for table in tables" id="mo"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="param">Parameter:</label>
            <div class="col-sm-9">
                <select ng-model="param" class="form-control" ng-options="col for col in columns" id="param"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="min">Min:</label>
            <div class="col-sm-9">
                <input ng-model="min_value" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="max">Max:</label>
            <div class="col-sm-9">
                <input ng-model="max_value" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <button ng-click="onClickAddParam()" type="button" class="btn btn-success">Add</button>
            </div>
        </div>
        <div class="form-group">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>MO</td>
                        <td>PARAMETER</td>
                        <td>MIN</td>
                        <td>MAX</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in param_table">
                        <td>{{ row.mo }}<input type="hidden" name="mo" value="{{ row.mo }}"></td>
                        <td>{{ row.param }}<input type="hidden" name="param" value="{{ row.param }}"></td>
                        <td>{{ row.min_value }}<input type="hidden" name="min_value" value="{{ row.min_value }}"></td>
                        <td>{{ row.max_value }}<input type="hidden" name="max_value" value="{{ row.max_value }}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Save template</button>
        </div>
    </form>

</div>