<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Template</td>
                <td>Network</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="template in templates">
                <td><a href="#/edit_template/{{ template.template_name }}">{{ template.template_name }}</a></td>
                <td>{{ template.network }}</td>
                <td><span ng-click="onDeleteTemplate(template.template_name)"><a href="/#/predefined_templates">Delete</a></span></td>
            </tr>
        </tbody>
    </table>
</div>