<md-card ng-cloak>
    <md-card-title>
          <md-card-title-text>
              <span class="md-headline">Run a Template:</span>
          </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div flex>
            <md-input-container>
                <label>Template</label>
                <md-select ng-model="template">
                    <md-option ng-repeat="t in templates" value="{{ t }}">
                        {{ t }}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-raised" ng-click="onClickRun()">Run</md-button>
            <md-button class="md-raised" ng-click="onClickRun()">Download Excel</md-button>
            <a href="/data/run_template/?template={{ template }}&excel=ok">Download Excel</a>
        </div>
        <div flex>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{ tab }}" ng-repeat="(tab, data) in data">
                    <md-content class="md-padding">
                        <div flex>
                            <div ui-grid="table_configs[tab]" class="RndGrid col-md-12" ui-grid-resize-columns ui-grid-move-columns ui-grid-cellNav></div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </md-card-content>
</md-card>
