<md-card ng-cloak>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Run a Template:</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div flex>
            <form ng-upload="complete(content)" class="form-horizontal" role="form" action="/data/run_template/">
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="network">Network:</label>
                    <div class="col-sm-9">
                        <select ng-change="onChangeNetwork()" ng-model="network" class="form-control" id="network" name="network">
                    <option value="GSM">GSM</option>
                    <option value="WCDMA">WCDMA</option>
                    <option value="LTE">LTE</option>
                </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="file">File:</label>
                    <div class="col-sm-9">
                        <select ng-change="onChangeFile()" ng-model="file" ng-options="file for file in files track by file" class="form-control"
                            id="file" name="file">
                </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="template">Template:</label>
                    <div class="col-sm-9">
                        <select ng-model="template" ng-options="template for template in templates track by template" class="form-control" id="template"
                            name="template">
                </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="cells">Select Cells:</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="filter">
                        <select ng-model="selected_cells" ng-options="cell.cell group by cell.cell_type for cell in data_cells" class="form-control"
                            multiple>
                </select>
                        <button ng-click="onAddCell()" class="btn btn-success" type="button">Add to Group</button>
                        <button ng-click="onDeleteCell()" class="btn btn-danger" type="button">Delete from Group</button>
                        <select ng-model="selected_group_cells" ng-options="cell.cell group by cell.type for cell in group_cells" class="form-control"
                            multiple>
                </select>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-repeat="cell in group_cells">
                        <input type="hidden" value="{{ cell.cell }}" name="cell">
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-9"><button ng-click="onClickRun()" type="button" class="btn btn-success">Run</button></div>
                </div>
            </form>
        </div>
        <div flex>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{ tab }}" ng-repeat="(tab, data) in data">                    
                    <md-content class="md-padding">
                        <div flex ng-show="check_hide(data.data)">
                            No elements out of range
                        </div>
                        <div flex ng-hide="check_hide(data.data)">
                            <div ui-grid="table_configs[tab]" class="RndGrid col-md-12" ui-grid-resize-columns ui-grid-move-columns ui-grid-cellNav></div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </md-card-content>
</md-card>