<div class="col-md-12">
    <div class="col-md-3 form-group">
        <select ng-model="network" ng-change="onChangeNetwork()" class="form-control" id="network" name="network">
            <option value="GSM" selected>GSM</option>
            <option value="WCDMA">WCDMA</option>
            <option value="LTE">LTE</option>
        </select>
    </div>
    <div class="col-md-3 form-group">
        <ui-select ng-change="onChange()" ng-model="site.selected" theme="bootstrap"
            ng-disabled="disabled"
            reset-search-input="false">
            <ui-select-match>{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="cells in utrancell | filter: { name: $select.search }">
                {{ cells.name }}
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="col-md-12">
    <tabset>
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}">
            <table class="table table-bordered">
                <tbody>
                    <tr ng-repeat="(key, value) in tab.content">
                        <td>{{key}}</td>
                        <td><span class="col-md-12 label label-{{ value.1 }}">{{ value.0 }}</span></td>
                    </tr>
                </tbody>
            </table>
        </tab>
    </tabset>
</div>