<div class="col-md-12">
    <div class="col-md-3 form-group">
        <input class="form-control" type="text" ng-model="site" ng-change="onChange()" placeholder="Search Site">
    </div>
</div>
<div class="col-md-12">
    <tabset>
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}">
            <table class="table table-bordered">
                <tbody>
                    <tr ng-repeat="(key, value) in tab.content">
                        <td>{{key}}</td>
                        <td><span class="col-md-12 label label-{{ value.1 }}">{{ value.0 }}</span></td>
                    </tr>
                </tbody>
            </table>
        </tab>
    </tabset>
</div>