<form class="form">
    <div class="form-group">
        <label for="sector" class="col-sm-3 control-label">Sector:</label>
        <div class="col-sm-9" id="param">
            <ui-select ng-model="sector.selected" theme="bootstrap"
                ng-disabled="disabled"
                reset-search-input="false"
                on-select="onSelect($item, $model)">
                <ui-select-match placeholder="Enter a sector...">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="sec in sectors | filter:$select.search">
                        {{sec}}
                    </ui-select-choices>
                </ui-select>
            </div>
    </div>
    <div class="form-group">
        <div class="col-sm-1" ng-repeat="date in dates">
            <button class="btn label label-success" ng-click="onClick(date, sector.selected)" class="btn btn-default">{{ date }}</button>
        </div>
        <div class="col-md-12">
            <highchart id="chart1" config="chartConfig"></highchart>
        </div>
    </div>
    <div class="form-group">
        <table class="table col-sm-12">
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Sector</td>
                    <td>Distance</td>
                    <td>Samples</td>
                    <td>Total Sample</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in table">
                    <td>{{ row.date }}</td>
                    <td>{{ row.sector }}</td>
                    <td>{{ row.distance }}</td>
                    <td>{{ row.samples }} ({{ row.samples_percent }}% )</td>
                    <td>{{ row.total_samples }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>


