<form class="form">
    <div class="form-group">
        <label for="sector" class="col-sm-1 control-label">RBS:</label>
        <div class="col-sm-11" id="param">
            <ui-select ng-model="rbs.selected" theme="bootstrap"
                ng-disabled="disabled"
                reset-search-input="false"
                on-select="onSelect($item, $model)">
                <ui-select-match placeholder="Enter a RBS...">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="rbs_item in rbs_data | filter:$select.search">
                        {{ rbs_item }}
                    </ui-select-choices>
                </ui-select>
            </div>
    </div>
    <div class="form-group">
        <label for="sector" class="col-sm-1 control-label">Day:</label>
        <div class="col-sm-11" id="param">
            <ui-select ng-model="days.selected" theme="bootstrap"
                ng-disabled="disabled"
                reset-search-dinput="false"
                on-select="onSelectDay($item, $model)">
                <ui-select-match placeholder="Enter a day...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="date in dates | filter:$select.search">
                    {{ date }}
                </ui-select-choices>
            </ui-select>
            <button class="btn btn-success" ng-click="onSelectDay('none')" class="btn btn-default">
                Whole Period
            </button>
        </div>
        <div class="form-group">
            <a href="/data/distance/get_excel/{{ day }}/{{ sector.selected }}/">Download Excel</a>
        </div>

        <div class="col-md-12">
            <uib-tabset>
                <uib-tab heading="Load Balance">
                    <div class="col-md-12" ng-repeat="sector in utrancells">
                        <highchart config="get_config(sector)"></highchart>
                    </div>
                </uib-tab>
                <uib-tab heading="Load Distribution">
                    <highchart config="loadDistribution"></highchart>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</form>


