<uib-tabset>
    <uib-tab heading="Map Settings">
        <form class="form">
            <div class="form-group">
                <label>Radius WCDMA:</label>
                <input type="text" name='radiusw' ng-model="radius_wcdma">
            </div>
            <div class="form-group">
                <label>Radius LTE:</label>
                <input type="text" name='radiusw' ng-model="radius_lte">
            </div>
            <div class="form-group">
                <label>Radius GSM:</label>
                <input type="text" name='radiusw' ng-model="radius_gsm">
            </div>
            <button class="btn btn-default" ng-click="onSaveMapSettings(radius_wcdma,radius_lte, radius_gsm)">Save
            </button>
        </form>
    </uib-tab>
    <uib-tab heading="Set Logical Sector">
        <div class="col-md-12">
            <div class="col-md-3">
                <label class="col-md-12">Logical Sector:</label>
                <select
                        class="col-md-12"
                        ng-options="ls for ls in logical_sectors"
                        ng-model="logical_sector"
                        ng-change="onChangeLogicalSector(logical_sector)">
                </select>
            </div>
            <div class="col-md-2">
                <label class="col-md-12">Technology:</label>
                <select
                        class="col-md-12"
                        ng-options="network for network in networks"
                        ng-model="network"
                        id="tech">
                </select>
                <label for="band" class="col-md-12">Band:</label>
                <select
                        class="col-md-12"
                        ng-options="band for band in bands"
                        ng-model="band"
                        id="band">
                </select>
            </div>
            <div class="col-md-3">
                <label class="col-md-12">Sector:</label>
                <select multiple
                        size="10"
                        class="col-md-12"
                        ng-options="s for s in sectors"
                        ng-model="sector">
                </select>
            </div>
            <div class="col-md-1 button_group">
                <div class="col-md-12">
                    <button ng-click="onAdd(logical_sector, network, band, sector)" class="btn btn-success">>></button>
                    <button ng-click="onRemove(logical_sector, selected_associated_sectors)" class="btn btn-danger"><<
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <label class="col-md-12">Associated Sectors:</label>
                <div class="col-md-12">
                    <select multiple
                            size="10"
                            class="col-md-12"
                            ng-options="s.sector as s.label for s in associated_sectors"
                            ng-model="selected_associated_sectors">
                    </select>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Set Logical Relations">
        <form class="form">
            <div class="form-group col-md-12">
                <div class="col-md-3">
                    <label class="col-md-12">Technology from:</label>
                    <select ng-options="t in lr_technologies_from" ng-model="lr_technology_from"></select>
                </div>
                <div class="col-md-3">
                    <label class="col-md-12">Carrier from:</label>
                    <select ng-options="c in lr_carriers_from" ng-model="lr_carrier_from"></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label class="col-md-12">Symmetry:</label>
                    <select ng-options="s in lr_symmetries" ng-model="lr_symmetry"></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-3">
                    <label class="col-md-12">Technology to:</label>
                    <select ng-options="t in lr_technologies_to" ng-model="lr_technology_to"></select>
                </div>
                <div class="col-md-3">
                    <label class="col-md-12">Carrier to:</label>
                    <select ng-options="c in lr_carriers_to" ng-model="lr_carrier_to"></select>
                </div>
            </div>
        </form>
    </uib-tab>

</uib-tabset>
