<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Map Settings">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">GSM:</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-input-container layout="row">
                        <div flex="20">
                            <md-slider-container>
                                <md-slider flex class="md-primary" min="0" max="5000" ng-model="gsm_size">
                                </md-slider>
                            </md-slider-container>
                        </div>
                        <div flex="20">
                            <md-checkbox ng-model="gsm_freq" aria-label="850/900 OL 1800/1900 UL" class="md-align-top-left md-primary" flex>850/900 OL 1800/1900 UL
                        </div>
                        <div flex="20">
                            <md-checkbox ng-model="gsm_freq" aria-label="850/900 UL 1800/1900 OL" class="md-align-top-left md-primary" flex>850/900 UL 1800/1900 OL
                        </div>
                        <div flex="20">
                            <input flex type="number" ng-model="gsm_size">
                        </div>                        
                    </md-input-container>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Wcdma:</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-input-container layout="row">
                        <div flex="20">
                            <md-slider-container>
                                <md-slider flex class="md-primary" min="0" max="5000">
                                </md-slider>
                            </md-slider-container>
                        </div>
                        <div flex="5">
                        </div>
                        <div flex="20">
                            <label>Carrier</label>
                            <md-input-container>
                                <md-select ng-model="carrier">
                                <md-option ng-repeat="c in carriers" value="{{c}}">{{ c }}</md-option>
                            </md-select>
                            </md-input-container>                            
                        </div>
                        <div flex="20">
                            <md-slider flex class="md-primary" min="0" max="5000" ng-model="wcdma_carrier_percent">
                        </div>                                                
                    </md-input-container>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">LTE:</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-input-container layout="row">
                        <div flex="20">
                            <md-slider-container>
                                <md-slider class="md-primary" flex min="0" max="5000" ng-model="color.red">
                                </md-slider>
                            </md-slider-container>
                        </div>
                        <div flex="20">
                            <md-checkbox ng-model="data.cb2" aria-label="850/900 OL 1800/1900 UL" class="md-align-top-left" flex>850/900 OL 1800/1900 UL
                        </div>
                        <div flex="20">
                            <md-checkbox ng-model="data.cb2" aria-label="850/900 OL 1800/1900 UL" class="md-align-top-left" flex>850/900 UL 1800/1900 OL
                        </div>
                        <div flex="20">
                            <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
                        </div>
                        <div flex="20">
                            <input type="color" class="form-control" id="gsm_color" ng-model="lte_color">
                        </div>
                    </md-input-container>
                </md-card-content>
            </md-card>
            <div flex="20">
                <md-button class="md-raised md-primary" ng-click="onSaveMapColor(gsm_color, wcdma_color, lte_color, element_color)">Save</md-button>
            </div>
        </md-tab>
        <md-tab label="Map Radius Settings">
            <md-content class="md-padding">
                <form class="form">
                    <div flex="30">
                        <md-input-container class="md-block">
                            <label>Radius GSM</label>
                            <input ng-model="radius_gsm">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Radius WCDMA</label>
                            <input ng-model="radius_wcdma">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Radius LTE</label>
                            <input ng-model="radius_lte">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-button class="md-raised md-primary" ng-click="onSaveMapSettings(radius_wcdma,radius_lte, radius_gsm)">
                                Save
                            </md-button>
                        </md-input-container>
                    </div>
                </form>
            </md-content>
        </md-tab>
        <md-tab label="Set Logical Sector">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h3>
                        <span>Set Logical Sector</span>
                    </h3>
                </div>
            </md-toolbar>
            <md-content class="md-padding">
                <div layout="row">
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Logical Sector</label>
                            <md-select ng-model="logical_sector" ng-change="onChangeLogicalSector(logical_sector)">
                                <md-option ng-repeat="ls in logical_sectors" value="{{ ls }}">
                                    {{ ls }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Technology</label>
                            <md-select ng-model="network">
                                <md-option ng-repeat="network in networks" value="{{ network }}">
                                    {{ network }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Band</label>
                            <md-select ng-model="band">
                                <md-option ng-repeat="band in bands" value="{{ band }}">
                                    {{ band }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="flex">
                        <md-input-container>
                            <select multiple size="10" class="col-md-12" ng-options="s for s in sectors" ng-model="sector">
                            </select>
                        </md-input-container>
                        <md-input-container>
                            <button ng-click="onAdd(logical_sector, network, band, sector)" class="btn btn-success">>>
                            </button>
                            </br>
                            <button ng-click="onRemove(logical_sector, selected_associated_sectors)" class="btn btn-danger"><<
                            </button>
                        </md-input-container>
                        <md-input-container>
                            <select multiple size="10" class="col-md-12" ng-options="s.sector as s.label for s in associated_sectors" ng-model="selected_associated_sectors">
                            </select>
                        </md-input-container>
                    </div>
                </div>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h3>
                            <span>Logical Relations</span>
                        </h3>
                    </div>
                </md-toolbar>
                <md-content class="md-padding">
                </md-content>
                <div layout="row">
                    <div flex="20">
                        <md-input-container class="md-block">
                            <label>Technology from</label>
                            <md-select ng-model="lr_technology_from" ng-change="onChangelr_tech_from(lr_technology_from)">
                                <md-option ng-repeat="t in lr_technologies_from" value="{{ t }}">
                                    {{ t }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Carrier from</label>
                            <md-select ng-model="lr_carrier_from" ng-change="onChangelr_tech_from(lr_technology_from)">
                                <md-option ng-repeat="c in lr_carriers_from" value="{{ c }}">
                                    {{ c }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="20">
                        <md-input-container class="md-block">
                            <label>Symmetry</label>
                            <md-select ng-model="lr_symmetry">
                                <md-option ng-repeat="s in lr_symmetries" value="{{ s }}">
                                    {{ s }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="20">
                        <md-input-container class="md-block">
                            <label>Technology to</label>
                            <md-select ng-model="lr_technology_to" ng-change="onChangelr_tech_to(lr_technology_to)">
                                <md-option ng-repeat="t in lr_technologies_to" value="{{ t }}">
                                    {{ t }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Carrier to</label>
                            <md-select ng-model="lr_carrier_to" ng-change="onChangelr_tech_to(lr_technology_to)">
                                <md-option ng-repeat="c in lr_carriers_to" value="{{ c }}">
                                    {{ c }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="40">
                        <md-input-container>
                            <button ng-click="onClick_lr(lr_technology_from, lr_carrier_from, lr_symmetry, lr_technology_to, lr_carrier_to)" class="btn btn-success">>>
                            </button>
                            </br>
                            <button ng-click="onClickDelLr(selected_ho_realtions)" class="btn btn-danger"><<
                            </button>
                        </md-input-container>
                        <md-input-container>
                            <select multiple size="10" class="col-md-12" ng-options="r.id as r.ho_realtion for r in lr_data" ng-model="selected_ho_realtions">
                            </select>
                        </md-input-container>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Drive Test Legend">
            <md-content class="md-padding">
                <form ng-upload="complete(content)" class="form-horizontal col-sm-6" role="form" action="/data/files/set_drive_test_legend/"
                    upload-options-enable-rails-csrf>
                    <div class="form-group">
                        <label for="file" class="col-sm-3 control-label">File</label>
                        <div class="col-sm-9">
                            <input type="file" id="file" name="uploaded_file">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <button type="submit" ng-disabled="$isLoading" class="btn btn-success">Upload</button>
                            <button class="btn btn-default" type="reset">Cancel</button>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Parameter</td>
                            <td>Min Value</td>
                            <td>Max Value</td>
                            <td>Color</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="l in legend">
                            <td>{{ l[0] }}</td>
                            <td>{{ l[1] }}</td>
                            <td>{{ l[2] }}</td>
                            <td style="background-color:{{ l[3] }} ">{{ l[3] }}</td>
                        </tr>
                    </tbody>
                </table>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>