<md-card>
    <md-card-title>
          <md-card-title-text>
              <span class="md-headline">Projects:</span>
          </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Project name</td>
                    <td>Created</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects">
                    <td><a  href="" ng-click="setActiveProject(project.project_name)">{{ project.project_name }}</a></td>
                    <td>{{ project.created }}</td>
                    <td><a href="" ng-click="onDeleteProject(project.project_name)">delete</a></td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>
