<md-card>
    <md-card-title>
          <md-card-title-text>
              <span class="md-headline">Tables:</span>
          </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div layout="row">
            <div flex="15">
                <md-input-container>
                    <label>Vendor</label>
                    <md-select ng-model="vendor" ng-change="refreshData(vendor, network, filter)">
                        <md-option ng-repeat="v in vendors" value="{{ v }}">
                            {{ v }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="15">
                <md-input-container>
                    <label>Network</label>
                    <md-select ng-model="network" ng-change="refreshData(vendor, network, filter)">
                        <md-option ng-repeat="n in networks" value="{{ n }}">
                            {{ n }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="15">
                <md-input-container>
                    <label>Filter</label>
                    <input ng-model='filter' ng-change="refreshData(vendor, network, filter)">
                </md-input-container>
            </div>
            <div flex="15"></div>
            <div flex="20">
                <md-input-container>
                    <label>Filename</label>
                    <input ng-model="filename">
                </md-input-container>
            </div>
            <div flex>
                <md-button ng-href="/data/files/get_excel/{{ vendor }}/{{ network }}/{{ filename }}?{{ tables_params }}">Download Excel</md-button>
            </div>
        </div>
        <div layout="row">
            <table class="table table-bordered table-striped" layout="row">
                <thead>                    
                    <tr>
                        <td flex="10">
                            <md-checkbox ng-change="onSelectAll(select_all)" ng-model="select_all" aria-label="SelectAll"></md-checkbox>
                        </td>
                        <td flex>Table name</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in data">
                        <td><md-checkbox ng-change="onChangeTable()" ng-model="check_tables[t]" aria-label="SelectAll"></md-checkbox></td>
                        <td>
                            <a href="#/table/{{ t }}">{{ t }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card-content>
</md-card>
