<div class="row">
    <a href="/data/table/{{ filename }}/{{ tablename }}?excel=ok">Download Excel</a>
</div>
<div class="row">
    <h2>{{ tablename }}</h2><h4>{{filename}}</h4>
</div>
<div class="row">
    <pagination max-size="5" items-per-page="itemsPerPage" ng-change="pageChanged()" boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
<div class="row">
    <table st-table="rowCollection" class="table table-striped">
        <thead>
            <tr>
                <th  st-sort="{{ column }}" ng-repeat="column in columns">{{ column }}</th>
            </tr>
            <tr>
                <th colspan="5"><input st-search="" class="form-control" placeholder="search ..." type="text"/></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data track by $index">
                <td ng-repeat="col in row track by $index">
                    {{ col }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <pagination max-size="5" items-per-page="itemsPerPage" ng-change="pageChanged()" boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>